.restaurants {
    margin: 200px 0 150px;

    p {
        text-align: center;
    }
    
    .restaurantsImgContainer {
        position: relative;
    }

    .restaurantsImg {
        margin: 50px;

        img {  
            margin: 0 auto;
            width: 80%; 
        }
    }

    .restaurantsLogo {
        width: 18%;
        position: absolute;
        right: 7%; 
        top: -25%;
    }

    h2::after {
        width: 10%; 
    }
}
