.wrapper {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    display: block;
}

a {
    text-decoration: none; 
}

.linkButton {
    color: $quaternary; 
    background-color: $secondary; 
    padding: 15px 45px;
    height: 54px;
    transition: 0.3s;

    &:hover,
    &:focus {
        color: $secondary;
        background-color: $quaternary;
        border: 1px solid $secondary;
    }
}