.author {
    display: flex;
    justify-content: space-between;

    img {
        width: 100%;
        object-fit: cover; 
        flex: 1;
        margin-right: 10px;
    }

    .aboutAuthor {
        width: 100%;
        flex: 4;
        background-color: rgba($color: $primary, $alpha: 0.1);
        padding: 20px 30px;
        display: flex; 
        align-items: center; 
    }

    .userNameSpan {
        display: inline-block; 
        margin-bottom: 10px;
    }
}