header {
    background: url("../assets/home-1.jpeg") no-repeat;
    background-size: cover;
    background-position: 50% 5%;
    height: 100vh; 
    padding: 40px;
} 

.navBar {
    display: flex;
    justify-content: space-between;

    ul {
        display: flex;
    }

    li {
        &:not(:last-child) {
            margin-right: 30px;
        }
    }

    a {
        text-transform: uppercase;
        font-weight: 700;
        color: $tertiary;
        transition: 0.3s; 

        &:hover, 
        &:focus {
            opacity: 0.6;
        }
    }

    span {
        color: $secondary;
    }

    .fa-bag-shopping {
        position: relative;
    }

    .counter {
        background-color: $secondary;
        display: inline-block; 
        height: 25px; 
        width: 25px;
        border-radius: 50%;  
        position: relative; 
        bottom: -10px; 
        left: -10px; 

        p {
            color: $quaternary;
            display: flex;
            justify-content: center; 
            align-items: center;
        }
    }
}