header {
    padding: 40px;

    h1 {
        transition: 0.3s;
    }
}

.mainHeader {
    background: url("../assets/home-1.jpeg") no-repeat;
    background-position: 50% 5%;
    background-size: cover; 
    height: 100vh;
}

.contactHeader {
    background: url("../assets/contact-1.jpeg") no-repeat; 
    background-size: cover;
    background-position: center; 
    height: 65vh;
}

.blogHeader {
    background: url("../assets/blog-1.jpeg") no-repeat;
    height: 63vh;
    background-position: center; 
    background-size: cover;
}

.navBar {
    display: flex;
    justify-content: space-between;

    ul {
        display: flex;
    }

    li:not(:last-child) {
        margin-right: 30px;
    }

    a {
        text-transform: uppercase;
        font-weight: 700;
        color: $black;
        transition: 0.3s; 
    }

    .headerNav a:hover,
    .headerNav a:focus {
        opacity: 0.6;
    }

    h1:hover,
    h1:focus {
        color: $secondary;
    }

    .fa-bag-shopping {
        position: relative;
    }

    .counter {
        background-color: $secondary;
        display: inline-block; 
        height: 25px; 
        width: 25px;
        border-radius: 50%;  
        position: relative; 
        bottom: -10px; 
        left: -10px; 

        p {
            color: $quaternary;
            display: flex;
            justify-content: center; 
            align-items: center;
        }
    }

    .fa-magnifying-glass {
        transition: 0.3s;
        
        &:focus,
        &:hover {
            color: $secondary;
            cursor: pointer; 
        }
    }
}

.slideMenu {
    display: none; 
}
