@media (max-width: 1260px) {
    .navBar {
        li:not(:last-child) {
            margin-right: 20px; 
        }
    } 

    .recipes {

        .popularRecipesContent {
            padding: 0 30px; 
        }

        .recipeItemContainer {
            margin-right: 0;
            margin-left: 50px;

            .item {
                width: 45%; 

                &:not(.itemnoMargin) {
                    margin-bottom: 10px;
                }
            }
        }
    }

    .restaurants {
        margin: 150px 0 100px; 

        .restaurantsImg {
            margin: 40px;

            img {
                width: 100%; 
            }
        }

        .restaurantsLogo {
            width: 23%; 
            right: -2%; 
        }
    }


    .quote {
        @include fontSize(20); 
    }
}

@media (max-width: 1110px) {
    .headerNav {
        display: none;
    }

    .slideMenu {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 50;

        ul {
            margin-top: 100px;
        }

        li {
            list-style: none;
            width: 100%;
            padding: 10px 30px;

            &:not(:last-child) {
                margin-bottom: 10px;
            }

            &:hover,
            &:focus {
                background-color: rgba($color: $secondary, $alpha: 0.2);
            }
        }

        a {
            display: inline-block;
            width: 100%;
        }

        button {
            position: fixed;
            right: 0;
            top: 25px;
            background-color: transparent; 
            padding: 20px 30px;
            border: none;
            @include fontSize(25);
            transition: 0.3s;

            &:hover,
            &:focus {
                background-color: $secondary;
                color: $quaternary;
            }
        }

        .slideOut {
            position: fixed;
            top: 0;
            right: 0;
            z-index: 30;
            width: 300px;
            background-color: $quaternary;

            ul {
                display: flex;
                flex-direction: column;
            }
        }
    }
    
    .recipes {

        .recipesList {
            flex-direction: column; 
            align-items: center;
        }

        .popularRecipes {
            flex-direction: column-reverse; 
            align-items: center; 
            margin-top: 100px; 
        } 

        .popularRecipesContent,
        .recipesListContent {
            max-width: 1000px;
            width: 50%; 
            margin: 0 auto; 

            a {
                margin-bottom: 50px; 
            }
        }

        .popularRecipesImg,
        .recipesListImg {
            width: 70%;
        }

        .popularRecipesContent {
            padding: 0;
            margin-top: 35px;
        }

        .recipesListContent {
            margin-top: 50px;
            margin-bottom: 50px; 
        }

        .recipeItemContainer {
            margin: 0; 

            .item {
                width: 48%;
            }
        }

        .recipesBg {
            width: 100%; 
        }
    }

    .clientQuote {
        &::before {
            top: 35%; 
            left: 15%; 
        }

        &::after {
            bottom: 40%;
            right: 15%; 
        }
    }

    footer {
        .footerFlexContainer {
            div {
                width: calc((100% / 3) - 25px);
            }
        }
    }
}

@media (max-width: 750px) { 
    
    .recipes{
        .popularRecipesContent {
            width: 90%;
        }

        .recipesBg {
            width: 100%;
        }

        .popularRecipesImg,
        .recipesListImg {
            width: 100%;
        }

        .recipeItemContainer {
            .item {
                width: 100%; 

                &:not(.itemNoMargin) {
                    margin-bottom: 35px;
                }
            }
        }

        .popularRecipesContent,
        .recipesListContent {
            width: 80%; 
        } 

        .recipesListContent {
            margin-right: 20px;
        }
    } 

    .restaurants {
        margin: 100px 0 50px;

        .wrapper {
            width: 90%;
        }
    }

    .imgGallery {
        li {
            width: calc(100% / 2);
        }
    }

    .clientQuote {
        padding: 75px 0 75px; 

        .wrapper {
            width: 90%; 
        }

        &::before {
            top: 25%;
            left: 5%; 
        }

        &::after {
            bottom: 25%; 
            right: 5%; 
        }

        h2 {
            margin-bottom: 75px; 
        }
    }

    footer {
        
        .footerFlexContainer {
            flex-direction: column;
            text-align: center; 
            
            div {
                width: 100%; 
            }
        }

        h5 {
            margin-top: 75px;
        }

        .brandsList {
            justify-content: center;
        }

        form {
            justify-content: center;
        }
    }
}