@media (max-width: 1260px) {
    .navBar {
        li:not(:last-child) {
            margin-right: 20px; 
        }
    } 

    .popularRecipesContent {
        padding: 0 30px; 
    }

    .recipeItemContainer {
        margin-right: 0;
        margin-left: 50px;

        .item {
            width: 45%; 

            &:not(.itemnoMargin) {
                margin-bottom: 10px;
            }
        }
    }

    .restaurants {
        margin: 150px 0 100px; 

        .restaurantsImg {
            margin: 40px;

            img {
                width: 100%; 
            }
        }

        .restaurantsLogo {
            width: 23%; 
            right: -2%; 
        }
    }

    .quote {
        @include fontSize(20); 
    }
}

@media (max-width: 1110px) {
    .navBar {
        flex-direction: column;

        ul {
            margin: 0 auto; 
            margin-top: 25px; 
        }
    }

    .recipesList {
        flex-direction: column; 
        align-items: center;
    }

    .popularRecipes {
        flex-direction: column-reverse; 
        align-items: center; 
        margin-top: 100px; 
    } 

    .popularRecipesContent,
    .recipesListContent {
        max-width: 1000px;
        width: 50%; 
        margin: 0 auto; 

        a {
            margin-bottom: 50px; 
        }
    }

    .popularRecipesImg,
    .recipesListImg {
        width: 70%;
    }

    .popularRecipesContent {
        padding: 0;
        margin-top: 35px;
    }

    .recipesListContent {
        margin-top: 50px;
        margin-bottom: 50px; 
    }

    .recipeItemContainer {
        margin: 0; 

        .item {
            width: 48%;
        }
    }

    .recipesBg {
        width: 100%; 
    }

    .clientQuote {
        &::before {
            top: 35%; 
            left: 15%; 
        }

        &::after {
            bottom: 40%;
            right: 15%; 
        }
    }

    footer {
        .footerFlexContainer {
            div {
                width: calc((100% / 3) - 25px);
            }
        }
    }
}

// @media (max-width: 750px) {

// } 