.popularRecipes,
.recipesList {
    display: flex;
}

.popularRecipesContent,
.recipesListContent { 
    width: 50%;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    text-align: center; 

    h2 {
        margin-bottom: 40px; 
        position: relative; 

        &::after {
            content: '';
            width: 20%; 
            padding-top: 30px;
            display: block;
            margin: 0 auto;   
            border-bottom: 3px solid $secondary;
        }
    }

    a {
        margin-top: 50px; 

        &:hover,
        &:focus {
            color: $secondary;
        }
    }
}

.popularRecipesContent {
    padding: 0 145px;
}

.popularRecipesImg,
.recipesListImg {
    width: 50%;
}

.recipesListContent {
    background-color: rgba($color: $primary, $alpha: 0.2);
    padding: 0 120px; 
}
.recipeItemContainer { 
    padding: 25px 0; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .item {
        width: 45%;
        
        &:not(.itemNoMargin) {
            margin-bottom: 50px;
        }
        h3 {
            text-align: left; 
            margin-bottom: 10px;
            @include fontSize(25);
        }

        p {
            text-align: left; 
        }
    }

    li {
        position: relative;
    } 

    li::before { 
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: $tertiary; 
        @include fontSize(40);
        position: absolute; 
        left: -50px; 
        top: 3px; 
    }

    .item1::before {
        content: "\f094";
    }

    .item2::before {
        content: "\f2e7"; 
    }

    .item3::before {
        content: "\f0f4";
    }

    .item4::before {
        content: "\f000";
    }

    .item5::before {
        content: "\f06c";
    }

    .item6::before {
        content: "\f2e5";
    }
}