.blogContainer {
    margin-top: 150px;

    h2 {
        margin-bottom: 5px; 
    }

    a:hover,
    a:focus {
        color: $secondary; 
    }
}

.recipesBlog {
    p:not(last-child) {
        margin-bottom: 25px; 
    }
}

.tags {
    .recipesTag {
        margin-bottom: 25px; 
    }

    .fa-brands {
        margin: 0 10px; 

        &:hover,
        &:focus {
            color: $secondary; 
        }
    }

    .shareSpan {
        margin-right: 10px; 
    }

}