body {
    font-family: 'Lora', serif;
    @include fontSize(18);
    line-height: 24px;
    letter-spacing: 0.3px;
}

h1 {
    font-family: 'Raleway', sans-serif;
    @include fontSize(50);
    line-height: 24px;
    letter-spacing: 1.1px;
    margin: 0; 
}

h2, h3, h4 { 
    font-family: 'Raleway', sans-serif;
    @include fontSize(33);
    font-weight: 700; 
    letter-spacing: 0.5px;
    text-transform: uppercase; 
}

a {
    font-family: 'Raleway', sans-serif; 
    @include fontSize(18); 
    letter-spacing: 0.5px; 
}

p {
    @include fontSize(16);
    color: rgba($color: $tertiary, $alpha: 0.6);
} 

.counter p {
    font-family: 'Raleway', sans-serif; 
    font-weight: 700;  
    @include fontSize(20);
}

.recipesListContent h3 {
    @include fontSize(20); 
}

.linkButton,
.slideMenu button {
    text-transform: uppercase; 
    font-weight: 700; 
    letter-spacing: 0.5px; 
}

.quote {
    color: $quinary; 
    @include fontSize(24); 
    font-style: italic; 
    line-height: 36px; 
    letter-spacing: 0.6px; 
}

.blogContainer {
    a, 
    .blogHead,
    .commentName { 
    font-family: 'Raleway', sans-serif;
    }

    a {
        color: rgba($color: $tertiary, $alpha: 0.6);
        @include fontSize(16);
    }

    .tags a {
        font-family: 'Lora', serif;
    }

    .blogHead {
        font-family: 'Raleway', sans-serif;
        text-transform: uppercase;
        color: $tertiary;
        letter-spacing: 0.5px;
        @include fontSize(18);
        font-weight: 700;
    }

    .commentName {
        @include fontSize(18); 
    }

    .commentUserTitle {
        font-weight: 400; 
        @include fontSize(17); 
    }
}

.userNameSpan {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    @include fontSize(18);
    font-weight: 700;
    color: $tertiary;
    letter-spacing: 0.5px; 
}

footer {

    h5 {
        font-family: 'Raleway', sans-serif;
        @include fontSize(20);
        line-height: 24px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
    } 

    a {
        font-family: 'Lora', serif;
    }

    h4, h5 {
        margin-bottom: 20px;
    }

    p, a {
        color: rgba($color: $quaternary, $alpha: 0.6);
        letter-spacing: 0.3px;
    }

    h4 {
        color: $secondary;
    }

    h5 {
        color: $quaternary;
    }

    input#email,
    button {
        color: $tertiary;
        font-family: 'Lora', serif;
        font-style: italic;
        @include fontSize(18); 
    } 

    .copyright {
        font-family: 'Raleway', sans-serif;
    }
}
