html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

.skipLink {
  background: #fff;
  color: #000;
  font-size: 1rem;
  padding: 10px 0;
  display: inline-block;
  position: absolute;
  left: -1000px;
  top: 0;
  z-index: 999;
}
.skipLink:focus {
  left: 0;
  right: 0;
  text-align: center;
}

body {
  font-family: "Lora", serif;
  font-size: 18px;
  font-size: 0.9rem;
  line-height: 24px;
  letter-spacing: 0.3px;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-size: 2.5rem;
  line-height: 24px;
  letter-spacing: 1.1px;
  margin: 0;
}

h2, h3, h4 {
  font-family: "Raleway", sans-serif;
  font-size: 33px;
  font-size: 1.65rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

a {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
}

p {
  font-size: 16px;
  font-size: 0.8rem;
  color: rgba(46, 46, 46, 0.6);
}

.counter p {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-size: 1rem;
}

.recipesListContent h3 {
  font-size: 20px;
  font-size: 1rem;
}

.linkButton,
.slideMenu button {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.quote {
  color: #333333;
  font-size: 24px;
  font-size: 1.2rem;
  font-style: italic;
  line-height: 36px;
  letter-spacing: 0.6px;
}

.blogContainer a,
.blogContainer .blogHead,
.blogContainer .commentName {
  font-family: "Raleway", sans-serif;
}
.blogContainer a {
  color: rgba(46, 46, 46, 0.6);
  font-size: 16px;
  font-size: 0.8rem;
}
.blogContainer .tags a {
  font-family: "Lora", serif;
}
.blogContainer .blogHead {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  color: #2E2E2E;
  letter-spacing: 0.5px;
  font-size: 18px;
  font-size: 0.9rem;
  font-weight: 700;
}
.blogContainer .commentName {
  font-size: 18px;
  font-size: 0.9rem;
}
.blogContainer .commentUserTitle {
  font-weight: 400;
  font-size: 17px;
  font-size: 0.85rem;
}

.userNameSpan {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-size: 0.9rem;
  font-weight: 700;
  color: #2E2E2E;
  letter-spacing: 0.5px;
}

footer h5 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
footer a {
  font-family: "Lora", serif;
}
footer h4, footer h5 {
  margin-bottom: 20px;
}
footer p, footer a {
  color: rgba(246, 246, 246, 0.6);
  letter-spacing: 0.3px;
}
footer h4 {
  color: #64A604;
}
footer h5 {
  color: #F6F6F6;
}
footer input#email,
footer button {
  color: #2E2E2E;
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 18px;
  font-size: 0.9rem;
}
footer .copyright {
  font-family: "Raleway", sans-serif;
}

.wrapper {
  max-width: 1000px;
  width: 50%;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

a:hover, a:focus,
button:hover, button:focus {
  cursor: pointer;
}

.linkButton {
  color: #F6F6F6;
  background-color: #64A604;
  padding: 15px 45px;
  height: 54px;
  border: 1px solid transparent;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.linkButton:hover, .linkButton:focus {
  color: #64A604;
  background-color: #F6F6F6;
  border: 1px solid #64A604;
}

.greenBorder {
  text-align: center;
  margin-bottom: 40px;
  position: relative;
}
.greenBorder::after {
  content: "";
  width: 20%;
  padding-top: 30px;
  display: block;
  margin: 0 auto;
  border-bottom: 3px solid #64A604;
}

.headerSpan {
  color: #64A604;
}

.displayNone {
  display: none;
}

.bottomBorder {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid rgba(153, 153, 153, 0.4);
}

header {
  padding: 40px;
}
header h1 {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.mainHeader {
  background: url("../assets/home-1.jpeg") no-repeat;
  background-position: 50% 5%;
  background-size: cover;
  height: 100vh;
}

.contactHeader {
  background: url("../assets/contact-1.jpeg") no-repeat;
  background-size: cover;
  background-position: center;
  height: 65vh;
}

.blogHeader {
  background: url("../assets/blog-1.jpeg") no-repeat;
  height: 63vh;
  background-position: center;
  background-size: cover;
}

.navBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navBar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navBar li:not(:last-child) {
  margin-right: 30px;
}
.navBar a {
  text-transform: uppercase;
  font-weight: 700;
  color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.navBar .headerNav a:hover,
.navBar .headerNav a:focus {
  opacity: 0.6;
}
.navBar h1:hover,
.navBar h1:focus {
  color: #64A604;
}
.navBar .fa-bag-shopping {
  position: relative;
}
.navBar .counter {
  background-color: #64A604;
  display: inline-block;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: relative;
  bottom: -10px;
  left: -10px;
}
.navBar .counter p {
  color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.navBar .fa-magnifying-glass {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.navBar .fa-magnifying-glass:focus, .navBar .fa-magnifying-glass:hover {
  color: #64A604;
  cursor: pointer;
}

.slideMenu {
  display: none;
}

.searchPage {
  padding-top: 30px;
  background-color: white;
  height: 40vh;
  width: 400px;
  position: fixed;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 20px;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  z-index: 20;
}
.searchPage .searchPageContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.searchPage h2 {
  margin: 30px 0;
}
.searchPage input {
  background-color: rgba(153, 153, 153, 0.1);
  border: none;
  padding: 15px 30px;
  outline: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.searchPage input::-webkit-input-placeholder {
  color: #2E2E2E;
}
.searchPage input::-moz-placeholder {
  color: #2E2E2E;
}
.searchPage input:-ms-input-placeholder {
  color: #2E2E2E;
}
.searchPage input::-ms-input-placeholder {
  color: #2E2E2E;
}
.searchPage input::placeholder {
  color: #2E2E2E;
}
.searchPage input:hover, .searchPage input:focus {
  -webkit-box-shadow: inset 0 0 0 1px #64A604;
          box-shadow: inset 0 0 0 1px #64A604;
}
.searchPage form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.searchPage button {
  margin-top: 20px;
  color: #F6F6F6;
}
.searchPage .closeSearch {
  font-size: 25px;
  font-size: 1.25rem;
  position: absolute;
  right: 5%;
  top: 1%;
  color: #64A604;
  border: none;
  background: transparent;
  padding: 5px 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.searchPage .closeSearch:focus, .searchPage .closeSearch:hover {
  color: #2E2E2E;
  background: transparent;
  cursor: pointer;
}

.recipes .popularRecipes,
.recipes .recipesList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.recipes .popularRecipesContent,
.recipes .recipesListContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.recipes .popularRecipesContent a,
.recipes .recipesListContent a {
  margin-top: 50px;
}
.recipes .recipesBg,
.recipes .popularRecipesContent {
  width: 50%;
}
.recipes .popularRecipesContent {
  padding: 0 145px;
}
.recipes .popularRecipesImg,
.recipes .recipesListImg {
  width: 50%;
}
.recipes .recipesBg {
  background-color: rgba(153, 153, 153, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.recipes .recipeItemContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 50px 0 100px;
}
.recipes .recipeItemContainer .item {
  width: 45%;
}
.recipes .recipeItemContainer .item:not(.itemNoMargin) {
  margin-bottom: 30px;
}
.recipes .recipeItemContainer .item h3 {
  text-align: left;
  margin-bottom: 10px;
}
.recipes .recipeItemContainer .item p {
  text-align: left;
}
.recipes .recipeItemContainer li {
  position: relative;
}
.recipes .recipeItemContainer li::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #2E2E2E;
  font-size: 30px;
  font-size: 1.5rem;
  position: absolute;
  left: -40px;
  top: 3px;
}
.recipes .recipeItemContainer .item1::before {
  content: "\f094";
}
.recipes .recipeItemContainer .item2::before {
  content: "\f2e7";
}
.recipes .recipeItemContainer .item3::before {
  content: "\f0f4";
}
.recipes .recipeItemContainer .item4::before {
  content: "\f57b";
}
.recipes .recipeItemContainer .item5::before {
  content: "\f06c";
}
.recipes .recipeItemContainer .item6::before {
  content: "\f2e5";
}

.restaurants {
  margin: 200px 0 150px;
}
.restaurants p {
  text-align: center;
}
.restaurants .restaurantsImgContainer {
  position: relative;
}
.restaurants .restaurantsImg {
  margin: 50px;
}
.restaurants .restaurantsImg img {
  margin: 0 auto;
  width: 80%;
}
.restaurants .restaurantsLogo {
  width: 18%;
  position: absolute;
  right: 7%;
  top: -25%;
}
.restaurants h2::after {
  width: 10%;
}

.imgGallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.imgGallery li {
  width: 33.3333333333%;
}

.clientQuote {
  background-color: #E0EC9C;
  padding: 150px 0 150px;
  position: relative;
  text-align: center;
}
.clientQuote::before, .clientQuote::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: rgba(246, 246, 246, 0.8);
  font-size: 75px;
  font-size: 3.75rem;
  position: absolute;
}
.clientQuote::before {
  content: "\f10d";
  top: 40%;
  left: 18%;
}
.clientQuote::after {
  content: "\f10e";
  bottom: 44%;
  right: 18%;
}
.clientQuote .arrow {
  border: none;
  background-color: transparent;
  color: #F6F6F6;
  margin-top: 100px;
}
.clientQuote .rightArrow {
  margin-left: 50px;
}
.clientQuote h2::after {
  width: 10%;
}

.contactSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contactSection .contactWrapper {
  max-width: 1000px;
  width: 55%;
}
.contactSection .contactForm,
.contactSection .contactForm h2 {
  width: 80%;
  margin-left: auto;
  padding-right: 15px;
}
.contactSection h2 {
  font-size: 30px;
  font-size: 1.5rem;
  margin-top: 100px;
  margin-bottom: 40px;
}
.contactSection h3 {
  font-size: 28px;
  font-size: 1.4rem;
  margin-bottom: 15px;
}
.contactSection .contactDetails {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.contactSection .contactWrapper {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}
.contactSection .contactContainer {
  padding-left: 30px;
}
.contactSection .contactContainer .contactDescription {
  margin-bottom: 55px;
}
.contactSection .workingHoursDisclaimer {
  font-style: italic;
  margin-bottom: 55px;
}
.contactSection .contactInfo {
  margin-bottom: 75px;
}
.contactSection .contactInfo span {
  display: block;
}
.contactSection .contactInfo p {
  margin-bottom: 15px;
}
.contactSection .contactInfo a {
  color: rgba(46, 46, 46, 0.6);
}
.contactSection .workingHoursDays {
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
.contactSection .nameEmailFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contactSection .nameEmailFlexContainer input:not(:last-child) {
  margin-right: 15px;
}
.contactSection .nameEmailFlexContainer input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.contactSection input,
.contactSection textarea {
  font-family: "Lora", serif;
  font-size: 16px;
  font-size: 0.8rem;
  width: 100%;
  border: none;
  background-color: rgba(153, 153, 153, 0.1);
  padding: 10px;
  margin-bottom: 20px;
  outline: none;
}
.contactSection input::-webkit-input-placeholder, .contactSection textarea::-webkit-input-placeholder {
  color: #2E2E2E;
}
.contactSection input::-moz-placeholder, .contactSection textarea::-moz-placeholder {
  color: #2E2E2E;
}
.contactSection input:-ms-input-placeholder, .contactSection textarea:-ms-input-placeholder {
  color: #2E2E2E;
}
.contactSection input::-ms-input-placeholder, .contactSection textarea::-ms-input-placeholder {
  color: #2E2E2E;
}
.contactSection input::placeholder,
.contactSection textarea::placeholder {
  color: #2E2E2E;
}
.contactSection input:hover, .contactSection input:focus,
.contactSection textarea:hover,
.contactSection textarea:focus {
  -webkit-box-shadow: inset 0 0 0 1px #64A604;
          box-shadow: inset 0 0 0 1px #64A604;
}
.contactSection textarea {
  resize: none;
}
.contactSection .contactDetails {
  background-color: rgba(153, 153, 153, 0.1);
}
.contactSection .contactDetails a:hover,
.contactSection .contactDetails a:focus {
  color: #64A604;
}
.contactSection .sendMsgBtn {
  border: none;
  background-color: transparent;
  color: #64A604;
  text-transform: uppercase;
  font-weight: 600;
  border: 1px solid transparent;
  padding: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.contactSection .sendMsgBtn:hover, .contactSection .sendMsgBtn:focus {
  border: 1px solid #64A604;
  border-radius: 5px;
  opacity: 0.6;
}

.contactBottomImg img {
  -o-object-fit: cover;
     object-fit: cover;
}

.blogContainer {
  margin-top: 150px;
}
.blogContainer h2 {
  margin-bottom: 5px;
}
.blogContainer a:hover,
.blogContainer a:focus {
  color: #64A604;
}

.recipesBlog p:not(last-child) {
  margin-bottom: 25px;
}

.tags .recipesTag {
  margin-bottom: 25px;
}
.tags .fa-brands {
  margin: 0 10px;
}
.tags .fa-brands:hover, .tags .fa-brands:focus {
  color: #64A604;
}
.tags .shareSpan {
  margin-right: 10px;
}

.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.author img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 10px;
}
.author .aboutAuthor {
  width: 100%;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  background-color: rgba(153, 153, 153, 0.1);
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.author .userNameSpan {
  display: inline-block;
  margin-bottom: 10px;
}

.relatedPosts ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.relatedPosts li {
  width: 32%;
}
.relatedPosts li a img,
.relatedPosts li h4 {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.relatedPosts li a img:first-child:hover,
.relatedPosts li a img:first-child:focus {
  -webkit-box-shadow: 0 0 3px 3px rgba(46, 46, 46, 0.2);
          box-shadow: 0 0 3px 3px rgba(46, 46, 46, 0.2);
}
.relatedPosts li a h4:hover,
.relatedPosts li a h4:focus {
  color: #64A604;
}
.relatedPosts img {
  margin-bottom: 20px;
}
.relatedPosts a:not(:first-child) {
  font-weight: 700;
}
.relatedPosts h3 {
  margin-bottom: 20px;
}

.comments .userComment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
}
.comments .userAvatarContainer {
  width: 75px;
  height: 75px;
  margin-right: 25px;
}
.comments .userCommentContainer {
  width: 89%;
  margin-left: auto;
  background-color: #EBEBEB;
  padding: 15px 25px;
  position: relative;
}
.comments .userCommentContainer h5 {
  margin-bottom: 10px;
}
.comments .userCommentContainer::before {
  content: "";
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 10px solid #EBEBEB;
  display: inline-block;
  position: absolute;
  left: -9px;
}
.comments .commentParagraph {
  margin-bottom: 10px;
}

.commentFormContainer {
  margin-top: 40px;
  margin-bottom: 150px;
}
.commentFormContainer p {
  font-style: italic;
  margin-bottom: 25px;
}
.commentFormContainer .commentFormFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.commentFormContainer input,
.commentFormContainer textarea {
  font-family: "Lora", serif;
  border: 1px solid rgba(153, 153, 153, 0.4);
  font-size: 16px;
  font-size: 0.8rem;
  outline: none;
  color: #2E2E2E;
}
.commentFormContainer input::-webkit-input-placeholder, .commentFormContainer textarea::-webkit-input-placeholder {
  color: #2E2E2E;
}
.commentFormContainer input::-moz-placeholder, .commentFormContainer textarea::-moz-placeholder {
  color: #2E2E2E;
}
.commentFormContainer input:-ms-input-placeholder, .commentFormContainer textarea:-ms-input-placeholder {
  color: #2E2E2E;
}
.commentFormContainer input::-ms-input-placeholder, .commentFormContainer textarea::-ms-input-placeholder {
  color: #2E2E2E;
}
.commentFormContainer input::placeholder,
.commentFormContainer textarea::placeholder {
  color: #2E2E2E;
}
.commentFormContainer input:hover, .commentFormContainer input:focus,
.commentFormContainer textarea:hover,
.commentFormContainer textarea:focus {
  border: 1px solid #64A604;
}
.commentFormContainer input {
  padding: 15px;
  width: calc(33.3333333333% - 10px);
  margin-bottom: 20px;
}
.commentFormContainer textarea {
  width: 100%;
  padding: 10px;
  resize: none;
  margin-bottom: 25px;
}
.commentFormContainer button {
  border: 1px solid transparent;
}

footer {
  background-color: #333333;
}
footer .footerWrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
footer .footerFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 75px 0;
}
footer .footerFlexContainer div {
  width: calc(33.3333333333% - 100px);
}
footer .recentPosts li:last-child {
  margin-top: 10px;
}
footer a:hover,
footer a:focus {
  color: #64A604;
}
footer p:not(:last-child):not(.subscribeNow p),
footer li:not(:last-child):not(.subscribeNow li) {
  border-bottom: 1px solid rgba(153, 153, 153, 0.3);
  padding: 14px 0;
}
footer span {
  display: block;
}
footer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(153, 153, 153, 0.3);
  padding: 20px 0 30px;
}
footer input,
footer button {
  border: none;
  padding: 13px 20px;
}
footer input#email {
  background-color: rgba(153, 153, 153, 0.4);
  min-width: 75%;
  outline: none;
  color: #F6F6F6;
}
footer input#email:hover, footer input#email:focus {
  -webkit-box-shadow: inset 0 0 0 1px #F6F6F6;
          box-shadow: inset 0 0 0 1px #F6F6F6;
}
footer input::-webkit-input-placeholder {
  color: #F6F6F6;
}
footer input::-moz-placeholder {
  color: #F6F6F6;
}
footer input:-ms-input-placeholder {
  color: #F6F6F6;
}
footer input::-ms-input-placeholder {
  color: #F6F6F6;
}
footer input::placeholder {
  color: #F6F6F6;
}
footer button {
  color: #F6F6F6;
  background-color: #64A604;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer button:hover, footer button:focus {
  color: #64A604;
  background-color: #F6F6F6;
}
footer .brandsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}
footer .brandsList li:not(:last-child) {
  margin-right: 20px;
}
footer .fa-brands {
  color: #F6F6F6;
}
footer .fa-brands:hover, footer .fa-brands:focus {
  color: #64A604;
}
footer .polar {
  text-transform: uppercase;
  color: #64A604;
  display: inline;
  font-weight: 700;
}
footer .copyright {
  background: #2E2E2E;
  padding: 20px 0;
  width: 100%;
}
footer .blogSubscribe {
  margin-bottom: 68px;
}

@media (max-width: 1260px) {
  .navBar li:not(:last-child) {
    margin-right: 20px;
  }
  .recipes .popularRecipesContent {
    padding: 0 30px;
  }
  .recipes .recipeItemContainer {
    margin-right: 0;
    margin-left: 50px;
  }
  .recipes .recipeItemContainer .item {
    width: 45%;
  }
  .recipes .recipeItemContainer .item:not(.itemnoMargin) {
    margin-bottom: 10px;
  }
  .restaurants {
    margin: 150px 0 100px;
  }
  .restaurants .restaurantsImg {
    margin: 40px;
  }
  .restaurants .restaurantsImg img {
    width: 100%;
  }
  .restaurants .restaurantsLogo {
    width: 23%;
    right: -2%;
  }
  .quote {
    font-size: 20px;
    font-size: 1rem;
  }
  .blogContainer .blogHead {
    font-size: 16px;
    font-size: 0.8rem;
  }
}
@media (max-width: 1110px) {
  header {
    padding: 40px 20px;
  }
  header h1 {
    font-size: 40px;
    font-size: 2rem;
  }
  header nav a {
    font-size: 17px;
    font-size: 0.85rem;
  }
  header .navBar li:not(:last-child) {
    margin-right: 20px;
  }
  .recipes .recipesList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .recipes .popularRecipes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 100px;
  }
  .recipes .popularRecipesContent,
.recipes .recipesListContent {
    max-width: 1000px;
    width: 50%;
    margin: 0 auto;
  }
  .recipes .popularRecipesContent a,
.recipes .recipesListContent a {
    margin-bottom: 50px;
  }
  .recipes .popularRecipesImg,
.recipes .recipesListImg {
    width: 70%;
  }
  .recipes .popularRecipesContent {
    padding: 0;
    margin-top: 35px;
  }
  .recipes .recipesListContent {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .recipes .recipeItemContainer {
    margin: 0;
  }
  .recipes .recipeItemContainer .item {
    width: 48%;
  }
  .recipes .recipesBg {
    width: 100%;
  }
  .clientQuote::before {
    top: 35%;
    left: 15%;
  }
  .clientQuote::after {
    bottom: 40%;
    right: 15%;
  }
  .contactSection .contactWrapper {
    width: 70%;
  }
  .contactSection .contactForm,
.contactSection .contactForm h2 {
    width: 90%;
  }
  .blog .wrapper .wrapper {
    width: 70%;
  }
  footer .footerFlexContainer div {
    width: calc(33.3333333333% - 25px);
  }
  .blogMain .wrapper {
    width: 70%;
  }
  .blogMain .blogContainer {
    margin-top: 100px;
  }
}
@media (max-width: 880px) {
  .headerNav {
    display: none;
  }
  .slideMenu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 50;
  }
  .slideMenu ul {
    margin-top: 140px;
  }
  .slideMenu li {
    list-style: none;
    width: 100%;
    padding: 10px 30px;
    margin-bottom: 10px;
  }
  .slideMenu li:last-child {
    margin-bottom: 30px;
  }
  .slideMenu li:hover, .slideMenu li:focus {
    background-color: rgba(100, 166, 4, 0.2);
  }
  .slideMenu a {
    display: inline-block;
    width: 100%;
  }
  .slideMenu button {
    position: fixed;
    right: 0;
    top: 75px;
    background-color: rgba(100, 166, 4, 0.8);
    color: #F6F6F6;
    padding: 10px 15px;
    border: 1px solid transparent;
    font-size: 25px;
    font-size: 1.25rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .slideMenu button:hover, .slideMenu button:focus {
    background-color: rgba(246, 246, 246, 0.8);
    color: #64A604;
    border: 1px solid #64A604;
  }
  .slideMenu .slideOut {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 30;
    width: 300px;
    background-color: #F6F6F6;
  }
  .slideMenu .slideOut ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (max-width: 750px) {
  .recipes .popularRecipesContent {
    width: 90%;
  }
  .recipes .recipesBg {
    width: 100%;
  }
  .recipes .popularRecipesImg,
.recipes .recipesListImg {
    width: 100%;
  }
  .recipes .recipeItemContainer .item {
    width: 100%;
  }
  .recipes .recipeItemContainer .item:not(.itemNoMargin) {
    margin-bottom: 35px;
  }
  .recipes .recipeItemContainer .item5 p {
    margin-bottom: 35px;
  }
  .recipes .popularRecipesContent,
.recipes .recipesListContent {
    width: 80%;
  }
  .recipes .recipesListContent {
    margin-right: 20px;
  }
  .restaurants {
    margin: 100px 0 50px;
  }
  .restaurants .wrapper {
    width: 90%;
  }
  .imgGallery li {
    width: 50%;
  }
  .clientQuote {
    padding: 75px 0 75px;
  }
  .clientQuote .wrapper {
    width: 90%;
  }
  .clientQuote::before {
    top: 25%;
    left: 5%;
  }
  .clientQuote::after {
    bottom: 25%;
    right: 5%;
  }
  .clientQuote h2 {
    margin-bottom: 75px;
  }
  .contactSection {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contactSection h2 {
    margin-top: 50px;
  }
  .contactSection .contactDetails {
    margin: 0 auto;
  }
  .contactSection .contactWrapper {
    max-width: 1200px;
    width: 90%;
    padding: 0;
    margin: 0 auto;
    text-align: center;
  }
  .contactSection .nameEmailFlexContainer {
    display: block;
  }
  .contactSection .contactInfo {
    margin-bottom: 50px;
  }
  .contactSection .contactInfo p:last-child {
    margin-bottom: 0;
  }
  .contactSection .contactForm,
.contactSection .contactForm h2 {
    width: 100%;
    padding: 0;
  }
  .contactSection .sendMsgBtn {
    margin-bottom: 50px;
  }
  .contactBottomImg img {
    min-height: 20vh;
  }
  .blogMain .wrapper {
    width: 90%;
  }
  .blogMain .blogContainer {
    margin-top: 75px;
  }
  .blogMain .author {
    display: block;
  }
  .blogMain .author img {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  .blogMain .relatedPosts ul {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .blogMain .relatedPosts li {
    width: 100%;
  }
  .blogMain .relatedPosts li:not(:last-child) {
    margin-bottom: 35px;
  }
  .blogMain .commentFormContainer .commentFormFlex {
    display: block;
  }
  .blogMain .commentFormContainer input {
    width: 100%;
  }
  footer .footerFlexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  footer .footerFlexContainer div {
    width: 100%;
  }
  footer h5 {
    margin-top: 75px;
  }
  footer .brandsList {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer form {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .blogSubscribe {
    margin-bottom: 40px;
  }
}
@media (max-width: 400px) {
  .imgGallery li {
    width: 100%;
  }
  .clientQuote::before {
    top: 22%;
    left: 5%;
  }
  .clientQuote::after {
    bottom: 22%;
    right: 5%;
  }
  .recipes .recipesListContent {
    margin-left: 50px;
  }
  .restaurants {
    margin: 75px 0 25px;
  }
  .restaurants .restaurantsImg {
    margin: 25px 0;
  }
  .restaurants .restaurantsImg img {
    width: 100%;
  }
  .restaurants .restaurantsLogo {
    width: 23%;
    right: -2%;
  }
}