html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.srOnly {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
}

.skipLink {
  background: #fff;
  color: #000;
  font-size: 1rem;
  padding: 10px 0;
  display: inline-block;
  position: absolute;
  left: -1000px;
  top: 0;
  z-index: 999;
}
.skipLink:focus {
  left: 0;
  right: 0;
  text-align: center;
}

body {
  font-family: "Lora", serif;
  font-size: 18px;
  font-size: 0.9rem;
  line-height: 24px;
  letter-spacing: 0.3px;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-size: 2.5rem;
  line-height: 24px;
  letter-spacing: 1.1px;
  margin: 0;
}

h2, h3, h4 {
  font-family: "Raleway", sans-serif;
  font-size: 33px;
  font-size: 1.65rem;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

a {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
}

p {
  font-size: 16px;
  font-size: 0.8rem;
  color: rgba(46, 46, 46, 0.6);
}

.counter p {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 20px;
  font-size: 1rem;
}

.recipesListContent h3 {
  font-size: 20px;
  font-size: 1rem;
}

.linkButton,
.slideMenu button {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.quote {
  color: #333333;
  font-size: 24px;
  font-size: 1.2rem;
  font-style: italic;
  line-height: 36px;
  letter-spacing: 0.6px;
}

footer h5 {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-size: 1rem;
  line-height: 24px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}
footer a {
  font-family: "Lora", serif;
}
footer h4, footer h5 {
  margin-bottom: 20px;
}
footer p, footer a {
  color: rgba(246, 246, 246, 0.6);
  letter-spacing: 0.3px;
}
footer h4 {
  color: #64A604;
}
footer h5 {
  color: #F6F6F6;
}
footer input#email,
footer button {
  color: #2E2E2E;
  font-family: "Lora", serif;
  font-style: italic;
  font-size: 18px;
  font-size: 0.9rem;
}

.wrapper {
  max-width: 1000px;
  width: 50%;
  margin: 0 auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

.linkButton {
  color: #F6F6F6;
  background-color: #64A604;
  padding: 15px 45px;
  height: 54px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.linkButton:hover, .linkButton:focus {
  color: #64A604;
  background-color: #F6F6F6;
  border: 1px solid #64A604;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
  position: relative;
}
h2::after {
  content: "";
  width: 20%;
  padding-top: 30px;
  display: block;
  margin: 0 auto;
  border-bottom: 3px solid #64A604;
}

.homeSpan {
  color: #64A604;
}

.slideOut {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 30;
  right: -999px;
}

.visible {
  display: visible;
}

.displayNone {
  display: none;
}

header {
  background: url("../assets/home-1.jpeg") no-repeat;
  background-size: cover;
  background-position: 50% 5%;
  height: 100vh;
  padding: 40px;
}

.navBar,
.slideMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.navBar ul,
.slideMenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.navBar li:not(:last-child),
.slideMenu li:not(:last-child) {
  margin-right: 30px;
}
.navBar a,
.slideMenu a {
  text-transform: uppercase;
  font-weight: 700;
  color: #2E2E2E;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.navBar a:hover, .navBar a:focus,
.slideMenu a:hover,
.slideMenu a:focus {
  opacity: 0.6;
}
.navBar .fa-bag-shopping,
.slideMenu .fa-bag-shopping {
  position: relative;
}
.navBar .counter,
.slideMenu .counter {
  background-color: #64A604;
  display: inline-block;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: relative;
  bottom: -10px;
  left: -10px;
}
.navBar .counter p,
.slideMenu .counter p {
  color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slideMenu {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slideMenu li {
  list-style: none;
}
.slideMenu a {
  padding: 10px 30px;
  display: inline-block;
  width: 100%;
  border: 1px solid black;
}
.slideMenu button {
  position: fixed;
  right: 0;
  top: 25px;
  background-color: transparent;
  padding: 20px 40px;
  border: none;
  font-size: 20px;
  font-size: 1rem;
}
.slideMenu button:hover, .slideMenu button:focus {
  background-color: #2E2E2E;
  color: #F6F6F6;
}

.popularRecipes,
.recipesList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popularRecipesContent,
.recipesListContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.popularRecipesContent a,
.recipesListContent a {
  margin-top: 50px;
}

.recipesBg,
.popularRecipesContent {
  width: 50%;
}

.popularRecipesContent {
  padding: 0 145px;
}

.popularRecipesImg,
.recipesListImg {
  width: 50%;
}

.recipesBg {
  background-color: rgba(153, 153, 153, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recipeItemContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 50px 0 100px;
}
.recipeItemContainer .item {
  width: 45%;
}
.recipeItemContainer .item:not(.itemNoMargin) {
  margin-bottom: 30px;
}
.recipeItemContainer .item h3 {
  text-align: left;
  margin-bottom: 10px;
}
.recipeItemContainer .item p {
  text-align: left;
}
.recipeItemContainer li {
  position: relative;
}
.recipeItemContainer li::before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #2E2E2E;
  font-size: 35px;
  font-size: 1.75rem;
  position: absolute;
  left: -40px;
  top: 3px;
}
.recipeItemContainer .item1::before {
  content: "\f094";
}
.recipeItemContainer .item2::before {
  content: "\f2e7";
}
.recipeItemContainer .item3::before {
  content: "\f0f4";
}
.recipeItemContainer .item4::before {
  content: "\f57b";
}
.recipeItemContainer .item5::before {
  content: "\f06c";
}
.recipeItemContainer .item6::before {
  content: "\f2e5";
}

.restaurants {
  margin: 200px 0 150px;
}
.restaurants p {
  text-align: center;
}
.restaurants .restaurantsImgContainer {
  position: relative;
}
.restaurants .restaurantsImg {
  margin: 50px;
}
.restaurants .restaurantsImg img {
  margin: 0 auto;
  width: 80%;
}
.restaurants .restaurantsLogo {
  width: 18%;
  position: absolute;
  right: 7%;
  top: -25%;
}
.restaurants h2::after {
  width: 10%;
}

.imgGallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.imgGallery li {
  width: 33.3333333333%;
}

.clientQuote {
  background-color: #E0EC9C;
  padding: 150px 0 150px;
  position: relative;
  text-align: center;
}
.clientQuote::before, .clientQuote::after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: rgba(246, 246, 246, 0.8);
  font-size: 75px;
  font-size: 3.75rem;
  position: absolute;
}
.clientQuote::before {
  content: "\f10d";
  top: 40%;
  left: 18%;
}
.clientQuote::after {
  content: "\f10e";
  bottom: 44%;
  right: 18%;
}
.clientQuote .arrow {
  border: none;
  background-color: transparent;
  color: #F6F6F6;
  margin-top: 100px;
}
.clientQuote .rightArrow {
  margin-left: 50px;
}
.clientQuote h2::after {
  width: 10%;
}

footer {
  background-color: #2E2E2E;
}
footer .footerWrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}
footer .footerFlexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 75px 0;
}
footer .footerFlexContainer div {
  width: calc(33.3333333333% - 100px);
}
footer .recentPosts li:last-child {
  margin-top: 10px;
}
footer a:hover,
footer a:focus {
  opacity: 0.6;
}
footer p:not(:last-child):not(.subscribeNow p),
footer li:not(:last-child):not(.subscribeNow li) {
  border-bottom: 1px solid rgba(153, 153, 153, 0.3);
  padding: 14px 0;
}
footer span {
  display: block;
}
footer form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(153, 153, 153, 0.3);
  padding: 20px 0 30px;
}
footer input,
footer button {
  border: none;
  padding: 13px 20px;
}
footer input#email {
  background-color: rgba(153, 153, 153, 0.4);
  min-width: 75%;
  outline: none;
}
footer input#email:hover, footer input#email:focus {
  -webkit-box-shadow: inset 0 0 0 1px #F6F6F6;
          box-shadow: inset 0 0 0 1px #F6F6F6;
}
footer input::-webkit-input-placeholder {
  color: #F6F6F6;
}
footer input::-moz-placeholder {
  color: #F6F6F6;
}
footer input:-ms-input-placeholder {
  color: #F6F6F6;
}
footer input::-ms-input-placeholder {
  color: #F6F6F6;
}
footer input::placeholder {
  color: #F6F6F6;
}
footer button {
  color: #F6F6F6;
  background-color: #64A604;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
footer button:hover, footer button:focus {
  color: #64A604;
  background-color: #F6F6F6;
}
footer .brandsList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
}
footer .brandsList li:not(:last-child) {
  margin-right: 20px;
}
footer .fa-brands {
  color: #F6F6F6;
}
footer .fa-brands:hover, footer .fa-brands:focus {
  opacity: 0.6;
}

@media (max-width: 1260px) {
  .navBar li:not(:last-child) {
    margin-right: 20px;
  }
  .popularRecipesContent {
    padding: 0 30px;
  }
  .recipeItemContainer {
    margin-right: 0;
    margin-left: 50px;
  }
  .recipeItemContainer .item {
    width: 45%;
  }
  .recipeItemContainer .item:not(.itemnoMargin) {
    margin-bottom: 10px;
  }
  .restaurants {
    margin: 150px 0 100px;
  }
  .restaurants .restaurantsImg {
    margin: 40px;
  }
  .restaurants .restaurantsImg img {
    width: 100%;
  }
  .restaurants .restaurantsLogo {
    width: 23%;
    right: -2%;
  }
  .quote {
    font-size: 20px;
    font-size: 1rem;
  }
}
@media (max-width: 1110px) {
  .navBar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .navBar ul {
    margin: 0 auto;
    margin-top: 25px;
  }
  .recipesList {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .popularRecipes {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 100px;
  }
  .popularRecipesContent,
.recipesListContent {
    max-width: 1000px;
    width: 50%;
    margin: 0 auto;
  }
  .popularRecipesContent a,
.recipesListContent a {
    margin-bottom: 50px;
  }
  .popularRecipesImg,
.recipesListImg {
    width: 70%;
  }
  .popularRecipesContent {
    padding: 0;
    margin-top: 35px;
  }
  .recipesListContent {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .recipeItemContainer {
    margin: 0;
  }
  .recipeItemContainer .item {
    width: 48%;
  }
  .recipesBg {
    width: 100%;
  }
  .clientQuote::before {
    top: 35%;
    left: 15%;
  }
  .clientQuote::after {
    bottom: 40%;
    right: 15%;
  }
  footer .footerFlexContainer div {
    width: calc(33.3333333333% - 25px);
  }
}